<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- this link is for the search icon -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<!-- TODO: Initialize our app -->
<body ng-app="TodoApp">
  <div ng-include="'partials/navbar.html'"></div>
  <!-- there needs to be single quotes inside double quotes to show that it is an actual string, otherwise it will be looking for some kind of js -->

   <!-- TODO: Add a controller for our todo list -->
  <!-- <div ng-controller="TodoCtrl">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        Let's call a js function from our HTML. wat? we will do this to change the state of what we can see on the page. we call the function when the click happens
        <button class="col-xs-6 btn btn-success" ng-click="newItem()">New Item</button>
        <button class="col-xs-6 btn btn-info" ng-click="allItems()">All Items</button>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 main-container">
      <!-- TODO: Add boolean for hide/show to show only the part of the app you want at one time. we've created a function to set showListView to true or false depending on click, now we'll do ng-show and hook it to the showListView as an attribut in the below div. ng-show="showListView" if it's true then everything in this div will display, if it's false then it will be hidden. we did this at first then we commented it out so that we could hide and show differently by using partials, so we'll add ng-view. so when we're looking around the page, the url will look like we're going to different actual pages but we're really just injecting partials into the same page, but these becomes the map of where to go for the url. you need the # in the routes so that it knows that we're not actually going to a different page. angular route is a totally seperate library that has to be installed and pushed into our app as a dependency-->
      <div class="col-xs-12" ng-view>
      <!-- we moved this form into item-form.html. this is now setup to inject our partials here.-->
      </div>
    </div>
  </div>


<script type="text/javascript" src="lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="lib/bower_components/bootstrap/dist/js/bootstrap.min.js">
</script>
<script type="text/javascript" src="lib/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/bower_components/angular-route/angular-route.min.js"></script>
<!-- app specific files -->
<script type="text/javascript" src="app/app.js"></script>
<!-- providers -->
<script type="text/javascript" src="app/factories/ItemFactory.js"></script>
<script type="text/javascript" src="app/factories/FilterFactory.js"></script>
<!-- controllers -->
<script type="text/javascript" src="app/controllers/TodoCtrl.js"></script>
<script type="text/javascript" src="app/controllers/NavCtrl.js"></script>
<script type="text/javascript" src="app/controllers/ItemListCtrl.js"></script>
</body>
</html>
